# .gitignore

# Java class files
*.class

# Excutable Files
*.exe

# Object and archive files
# Can use regular expression, e.g., [oa] mathes either o or a
*[oa]

# temp sub-directory (ended with a directory separator)
temp/
